--
-- PostgreSQL database dump
--

\restrict QkeXW8bcdcicSDG8QemnUSDV3ubphkm5IRn2gUHkm0kqghE034nTTghiM5u1qmK

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: circuit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.circuit (circuit_id, name, country, city) FROM stdin;
7	Albert Park Circuit	Australia	Melbourne
8	Shanghai International Circuit	China	Shanghai
\.


--
-- Data for Name: driver; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.driver (driver_id, first_name, last_name, nationality) FROM stdin;
13	Sonny	Hayes	USA
14	Joshua	Pearce	UK
15	Charles	Leclerc	Monaco
16	Lewis	Hamilton	UK
\.


--
-- Data for Name: season; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.season (season_id, year) FROM stdin;
4	2025
\.


--
-- Data for Name: race; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.race (race_id, season_id, circut_id, round_no, race_date, name) FROM stdin;
7	4	7	1	2025-03-16	Australian Grand Prix
8	4	8	2	2025-03-23	China Grand Prix
\.


--
-- Data for Name: race_result; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.race_result (result_id, race_id, driver_id, grid_pos, finish_pos, status) FROM stdin;
1	7	13	8	\N	DNF
2	7	14	7	4	finished
3	7	15	3	2	finished
4	7	16	9	11	finished
5	8	13	12	3	finished
6	8	14	7	2	finished
7	8	15	1	1	finished
8	8	16	4	\N	DNF
\.


--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team (team_id, name, country) FROM stdin;
7	Apex GP	UK
8	Scuderia Ferrari	Italy
\.


--
-- Name: circuit_circuit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.circuit_circuit_id_seq', 8, true);


--
-- Name: driver_driver_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.driver_driver_id_seq', 16, true);


--
-- Name: race_race_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.race_race_id_seq', 8, true);


--
-- Name: race_results_result_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.race_results_result_id_seq', 8, true);


--
-- Name: season_season_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.season_season_id_seq', 4, true);


--
-- Name: team_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.team_team_id_seq', 8, true);


--
-- PostgreSQL database dump complete
--

\unrestrict QkeXW8bcdcicSDG8QemnUSDV3ubphkm5IRn2gUHkm0kqghE034nTTghiM5u1qmK

